cohere
qdrant-client
streamlit
openai
tiktoken
pandas
python-dotenv
langchain
transformers
chromadb==0.3.29
openpyxl
SpeechRecognition
pyaudio
gTTS==2.3.1
bokeh==2.4.2
streamlit-bokeh-events==0.1.2
rouge_score
